.Container{
    display:flex;
    flex-direction: column;
    padding-block: 15px;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    height: 100vh;
  
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 100%;
    justify-content: space-evenly;
}
.Container > img{
    width: 90%;
}




