.main{
    display: flex;
    flex-direction: column;
    background-color: #e2e5f6;
    color: black;
    padding-block: 20px;
    min-height: 91vh;
    justify-content: space-between;
    overflow: scroll;
    gap: 20px;
}
.row{
    display: flex;
    padding: 0 10px;
    
}

