.Container {
    width: 270px;
    height: 199px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 0 10px;
}

.up {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.up > div{
    width: 45px;
    height: 45px;
    background-color: #e2e5f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.up img {
    width: 30px;
    object-fit: cover;

}
.up h3{
    text-align:center;
    font-size: 22px;
}

