.main{
    display: flex;
    flex-direction: column;
    background-color: #e2e5f6;
    color: black;
    padding-block: 20px;
    height: max-content;
    overflow: scroll;
    gap: 20px;
    
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
   
    color: black;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
